.activeTab {
    background-color: #ffb6c1; /* ライトピンク */
    color: #ff1493; /* ディープピンク */
    border: 3px solid #ff1493;
    border-bottom: none;
    z-index: 10;
    transform: translateY(-2px); /* 少し持ち上げてアクティブ感を出す */
}

.inactiveTab:hover {
    background-color: #ffefff;
}